@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Iransans;
    background-color: #00ff5d24;
}
a{
    text-decoration: none;
    transition: all ease 300ms;
}
a:hover{
    /* color: #43d7ff; */
}
input , input:focus , select , select:focus{
    outline: none;
}
button{
    transition: all ease 300ms;
}

@layer base {
    @font-face {
        font-family: Iransans;
        src: url('./../public/fonts/IRANSans_UltraLight.ttf') format('truetype');
        font-weight: 100;
        font-display: swap;
    }
  
    @font-face {
        font-family: Iransans;
        src: url('./../public/fonts/IRANSans_Light.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
    }
  
    @font-face {
        font-family: 'Iransans';
        src: url('./../public/fonts/IRANSans_Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
    }
  
    @font-face {
        font-family: Iran sans;
        src: url('./../public/fonts/IRANSans_Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
    }
  
    @font-face {
        font-family: Iransans;
        src: url('./../public/fonts/IRANSans_Black.ttf') format('truetype');
        font-weight: 900;
        font-display: swap;
    }
  }