@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Iransans;
    background-color:#eff;
    /* background-color: #00ff5d24; */
}
a{
    text-decoration: none;
    transition: all ease 300ms;
}
a:hover{
    color: #dc7718;
}
.bg-secound-color a:hover{
    color: #fff;
}
input , input:focus , select , select:focus{
    outline: none;
}
button{
    transition: all ease 300ms;
}
.sidebar-icon{
    transition: all ease 300ms;
    color: #fff;
    font-size: 30px;
}
.sidebar-link:hover .sidebar-icon{
    color: #dc7718 !important;
}

.bg-secound-color:hover .sidebar-icon{
    color: #fff !important;
}

.main-content{
    max-width: calc(100% - 190px);
}

.page-title{
    font-size: 20px;
    color: #0e4b50;
    text-shadow: 0 0 1rem #0e4b50;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
}

/* .page-subtitle{
    font-size: 18px;
    color: #0e4b50;
    text-align: center;
    margin-bottom: 1rem;
} */

.form-btn-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.3rem;
    width: 100%;
    margin-bottom: 1rem;
}

.form-label{
    font-size: 1rem;
    color: #0e4b50;
    opacity: 0.8;
}

.form-input{
    width: 100%;
    border: 1px solid #0e4b50;
    color: #fff;
    background-color: rgba(14, 75, 80, 0.4);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    resize: none;
}

.form-input::placeholder{
    color: #fff;
    opacity: 0.7;
}

.form-submit{
    border-radius: 10px;
    background-color: #0e4b50;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 8px;
}

.swal-modal{
    background-color: #0e4b50;
    border-radius: 10px;
}

.swal-title{
    color:  #fff;
    font-family: Iransans;
    font-weight: 500;
}

.swal-content__input{
    background-color: #0e4b50;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
}

.swal-content__input:focus{
    outline: none;
    border-color: #fff;
}

.swal-footer{
    text-align: center;
    display: flex;
}

.swal-button-container , .swal-button-container .swal-button{
    width: 100%;
}

.dataTable tr td,
.dataTable tr th{
    border: 1px solid #0e4b50;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    text-wrap: nowrap;
}

.dataTable tr th{
    font-weight: 700;
}

.course-video:hover ~ button, .course-video ~ button:hover{
    top: 0 !important;
}

@media (max-width: 768px) {
    .dataTable tr td,
    .dataTable tr th{
        padding: 6px;
        font-size: 10px;
    }

    .swal-title{
        font-size: 14px;
    }

    .main-content{
        max-width: 100%;
    }
}


@media (max-width: 640px) {
    .page-title{
        margin-bottom: 1rem;
        font-size: 16px;
    }

    .form-input{
        font-size: 12px;
        padding-right: 0.5rem;
    }

    .form-label{
        font-size: 0.7rem;
    }

    .form-btn-group{
        gap: 0.1rem;
        margin-bottom: 0.6rem;
    }
}



@layer base {
    @font-face {
        font-family: Iransans;
        src: url('./../public/fonts/IRANSans_UltraLight.ttf') format('truetype');
        font-weight: 100;
        font-display: swap;
    }
  
    @font-face {
        font-family: Iransans;
        src: url('./../public/fonts/IRANSans_Light.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
    }
  
    @font-face {
        font-family: 'Iransans';
        src: url('./../public/fonts/IRANSans_Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
    }
  
    @font-face {
        font-family: Iran sans;
        src: url('./../public/fonts/IRANSans_Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
    }
  
    @font-face {
        font-family: Iransans;
        src: url('./../public/fonts/IRANSans_Black.ttf') format('truetype');
        font-weight: 900;
        font-display: swap;
    }
  }